---
title: Now
contentTitle: What I'm doing now
layout: base.njk
---

<p>Folding@Home stats:</p>

<table>
  <tr>
    <td>Total points</td>
    <td>{{ fah.score }}</td>
  </tr>
  <tr>
    <td>Total WUs</td>
    <td>{{ fah.wus }}</td>
  </tr>
   <tr>
    <td>Project Rank</td>
    <td>{{ fah.rank }}</td>
  </tr> 
  <tr>
    <td>Team Rank</td>
    <td>46</td>
  </tr>
</table>
