---
title: Now
contentTitle: What I'm doing now
layout: base.njk
---

<h3>Folding@Home stats</h3>

<p>I run Folding@Home computations on my desktop PC GPU when it's not too hot outside.
As the weather gets colder it get more and more viable as the GPU doubles as a (very inefficient) space heater.
If there are blackouts later this year due to Russian attacks, I'll be forced to stop.
</p>

<table>
  <tr>
    <td>Total points</td>
    <td>{{ fah.score }}</td>
  </tr>
  <tr>
    <td>Total WUs</td>
    <td>{{ fah.wus }}</td>
  </tr>
   <tr>
    <td>Project Rank</td>
    <td>{{ fah.rank }}</td>
  </tr> 
  <tr>
    <td>Team Rank</td>
    <td>46</td>
  </tr>
</table>

<h3>Druk Army stats</h3>